.right-side-panel {
    width: 350px;

    .followed-users {
        margin-top: 15px;
    }

    .my-account, .followed-user {

        &__header {
            &-image {
                background-size: cover;
            }

            &-followers {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }

    .my-account {
        height: 70px;
        position: relative;
    }

    .followed-users {
        padding-bottom: 0;
        position: fixed;
        width: 318px;
    }
}
