<mat-card class="post no-border" *ngIf="postData" [ngClass]="{'no-border': isDialog}">
    <mat-card-header class="post__header">
        <div mat-card-avatar
             style="background-image: url('{{postData.user.avatarSrc}}'); cursor: pointer;"
             class="post__header-image"
             [routerLink]="['user', postData.user.username]"
        ></div>
        <mat-card-title class="post__header-username" style="cursor: pointer" [routerLink]="['user', postData.user.username]">{{postData.user.username}}</mat-card-title>
        <mat-card-subtitle class="post__header-date">{{postData.date}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{postData.postImageSrc}}" alt="Post Image" class="post__image">
    <mat-card-content *ngIf="postData?.description && postData.description !== ''" class="post__content" style="margin-top: 30px;">
        <p class="post__content-field">
            <b>{{postData.user.username}}</b>
            {{postData.description}}
        </p>
    </mat-card-content>
    <p (click)="commentsVisible = !commentsVisible" class="post__comments-button">
        {{postData.comments.length ? commentsVisible ? "Скрыть комментарии" : "Показать комментарии (" + postData.commentsCount + ")" : "Нет комментариев"}}
    </p>
    <comments *ngIf="commentsVisible" [comments]="postData.comments" [postId]="postData.id"></comments>
</mat-card>
