<div class="user-profile" *ngIf="userInfo">
    <button style="float: right" type="button" mat-stroked-button (click)="router.navigate([''])">Назад</button>
    <div class="user-info">
        <img class="user-info__image" src="{{userInfo.avatarSrc}}" alt="">
        <div class="user-info-description">
            <div class="user-info-description__username">
                <h3 style="font-size: 26px;"><b>{{userInfo.username}}</b></h3>
                <button *ngIf="!isMyProfile" type="button" mat-raised-button (click)="subscribeButton()">{{isSubscribed ? 'Отписаться' : 'Подписаться'}}</button>
            </div>
            <p>Подписчики {{userInfo.followersCount}} &nbsp;&nbsp;&nbsp; Подписки {{userInfo.followsCount}}</p>
        </div>
    </div>
    <div class="user-posts" style="margin-bottom: 60px;">
        <mat-grid-list class="user-posts__grid" cols="3" rowHeight="1:1" gutterSize="20">
            <mat-grid-tile class="user-posts__grid-tile" *ngFor="let post of userInfo.posts">
                <img src="{{post.postImageSrc}}" alt="" (click)="openPost(post)">
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
